.quicknav {
  position: sticky;
  top: var(--nav-height);
  z-index: 1;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--light-color);
}

.quicknav > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

.quicknav-links ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

.quicknav-links a:any-link {
  color: var(--text-color);
}

.quicknav-cta {
  flex: none;
}

.quicknav-cta .button-wrapper {
  margin: 0;
}

@media (width >= 900px) {
  .quicknav > div {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
